.jumbotron h1 {
    color:aliceblue
}

.jumbotron p {
    color:aliceblue
}

.white-text h2 {
    color: aliceblue;
}

.aliceblue-text p {
    color: aliceblue;
}

.col-md-12 p {
    color: aliceblue;
}

body {
    background-color: rgb(61, 59, 66);
}